APP_NAME=LinkParty
APP_URL=https://linkparty.net
APP_DEBUG=false

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=linkhpiy_linkboost
DB_USERNAME=linkhpiy_linkboost
DB_PASSWORD=YOUR_PASSWORD_HERE
DB_PREFIX=lb_

CURRENCY=USD
MAIL_FROM=noreply@linkparty.net
MAIL_FROM_NAME=LinkParty
